#Compiled Data from Examples#
.DS_Store
EntityCopy.csv
A.csv
examples/3Scaling/2ParallelDatabase/data/*
examples/2Apps/1EntityAnalysis/Entity.jld

# Notebook Checkpoints
*.ipynb_checkpoints
*.code-workspace
*.xlsx
